.movie-card {
  background-color: #f0f0f0;
  border-radius: .2rem;
  color: var(--color-text);
  overflow: hidden;

  &__details {
    padding: .5rem 1rem;
    word-wrap: break-word;
  }

  &__poster {
    margin: 0;

    img {
      height: auto;
      width: 100%;
    }
  }

  p {
    margin: 0;
  }

  &__title {
    font-size: 1.2rem;
    line-height: 1.3em;
    margin: 0;
  }

  &__more {
    font-size: .8rem;
    text-transform: capitalize;
  }
}