.search {
  display: flex;
  gap: 0;
  margin: 3rem auto 0 auto;
  width: 310px;

  &__input {
    appearance: none;
    border: 1px solid #333;
    flex: 0 0 calc(70% - 1.4rem);
    font-size: 1rem;
    padding: .7rem;

    &:focus {
      border: 1px solid #555;
      outline: none;
    }
  }

  &__button {
    background-color: #333;
    flex: 0 0 calc(30% - 2rem);
    font-size: 1rem;
    line-height: 1em;
    padding: .7rem 1rem;

    &:hover {
      background-color: #444;
    }
  }
}